*{
    font-family:"Courier New"
}
h1,h3{
    color:#b92b27;
}
#login{
    background color:white;
}
#signup{
    background color:#b92b17;
}
.upvote{
    background:blue;
    color:white;
}

/*descendnt selector*/
p a{
    color:purple;
    background-color:yellow;
}